        :root {
            --main-color: #3F4371;
        }

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .main-header {
            display: inline-block;
            width: 800px;
            margin-top: 40px;
            margin-left: calc(50% - 400px);
        }

        .logo {
            height: 40px;
            float: left;
        }

        .main-nav {
            float: right;
            margin-top: 3.8px;
        }

        .link {
            display: inline-block;
            padding: 0.3em;
            padding-left: 0.7em;
            padding-right: 0.7em;
            margin-left: 0.5em;
            font-family: monospace;
            font-size: 18px;
            line-height: 1em;
            text-decoration: none;
            color:var(--main-color);
            border: 0.1em solid transparent;
            border-radius: 0.2em;
        }

        .link:first-child {
            margin-left: 0;
        }

        .link:hover {
            text-decoration: underline;
            color: #3F4371;
        }

        .link:active{
            border-color:var(--main-color);
        }

        .main-content {
            display: inline-block;
            width: 800px;
            margin-top: 100px;
            margin-left: calc(50% - 400px);
        }

        .left-column {
            width: 35%;
            float: left;
        }
        .main-title {
            margin: 0px;
            font-size: 55px;
            text-transform: uppercase;
            color:var(--main-color);
        }

        .main-title > span {
            font-size: 45px;
        }

        .description {
            font-size: 18px;
            line-height: 1.3em;
            letter-spacing: 0.05em;
            word-spacing: 0.3em;
        }

        .button {
            display: inline-block;
            padding: 0.5em;
            padding-left: 3em;
            padding-right: 3em;
            font-family: inherit;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            background-color:var(--main-color);
            border-radius: 0.3em;
            box-shadow: 0px 0.5em 0.2em -0.45em #888;
            transition: all 1s;
        }
        .button:hover {
            box-shadow: 0px 0.6em 0.2em -0.45em #555;
        }

        .socials {
            margin-top:  50px;
        }

        .icon {
            width: 2em;
            height: 2em;
            float: left;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            text-decoration: none;
            font-size: 20px;
            line-height: 2em;
            text-align: center;
            background-color:var(--main-color);
            color: #fff;
            border-radius: 50%;
            transition: all 0.5s;
        }

        .icon:hover {
            box-shadow: 0.2px 4px #777;
        }

        .right-column {
            width: 65%;
            float: right;
        }
